<section id="hero-section">
    <p id="main-text">
        A community-based space to find and contribute answers to technical challenges, and one of the most popular websites in the world.
    </p>
    <div id="sign-up-in-container">
        <div id="signup-container">
            <p>
                Join the best community to find the best answer to your technical question and help others answer theirs.
            </p>
            <button id="hero-signup-btn" routerLink="/signup">Sign Up</button>
        </div>
        <div id="signin-container">
            <p>
                Find the best answer to your technical question, help others answer theirs.
            </p>
            <button id="hero-signin-btn" routerLink="/signin">Sign In</button>
        </div>
    </div>
</section>