<!-- <div id="logo-menu-container"> -->
<ion-icon id="menu-icon" name="menu-outline" size="large" (click)="toggleMenu()"></ion-icon>
<div id="menu" [class.active]="isMenuOpen">
    <!-- <nav id="menu-nav">
        <div class="nav-item" routerLink="" id="home-nav" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</div>
        <div class="nav-item" routerLink="/questions" routerLinkActive="active">Questions</div>
        <div class="nav-item" routerLink="/tags" routerLinkActive="active">Tags</div>
        <div class="nav-item" routerLink="/users" routerLinkActive="active">Users</div>
    </nav> -->
    <app-navigation id="menu-nav"></app-navigation>
    <div class="hover-underline" class="signout-btn">sign out</div>
</div>
<div routerLink="" class="logo"><span>Jitu</span>Exchange</div>
<!-- </div> -->
<ion-icon name="search-outline" id="search-icon" size="large"></ion-icon>
<form id="search">
    <ion-icon name="search-outline"></ion-icon>
    <input id="search-query" type="text" placeholder="search questions">
</form>

<div id="auth-header">
    <ng-container *ngIf="user else noUser">
        <div id="avatar-card">
            <ion-icon id="avatar" name="person-circle-outline" size="large"></ion-icon>
            <div id="gold-badges" class="badge">·<span>7</span></div>
            <div id="silver-badges" class="badge">·<span>7</span></div>
            <div id="bronze-badges" class="badge">·<span>7</span></div>
        </div>
        <ion-icon name="notifications" id="notifications-icon"></ion-icon>
        <div class="hover-underline" class="signout-btn" id="signout-btn">sign out</div>
    </ng-container>
          
    <ng-template #noUser>
        <a id="signin-btn" routerLink="/signin">Sign In</a>
        <a id="signup-btn" routerLink="/signup">Sign Up</a>
    </ng-template>
</div>


