<ng-container *ngIf="question; else Tloading">
    <header>
        <div id="q-header">
            <div id="q-summary">
                {{question.summary}}
            </div>
            <div id="q-meta">
                <div><span class="grey">Asked</span> {{question.askedDate | date: 'medium'}}</div>
                <div><span class="grey">Viewed</span> {{question.views}} times</div>
            </div>
        </div>
        <a [routerLink]="['/questions', 'ask']" class="ask-btn">Ask Question</a>
    </header>
    <hr>
    <main>
        <div id="q-info">
            <section class="main-info box-shadow">
                <div class="voting">
                    <ion-icon (click)="vote('question', question.id, true)" class="caret-icon caret-up-icon" name="caret-up-circle-outline" size="large" [class.green]="question.userVote === true"></ion-icon>
                    <div class="votes">{{question.upvotes - question.downvotes}}</div>
                    <ion-icon (click)="vote('question', question.id, false)" class="caret-icon caret-down-icon" name="caret-down-circle-outline" size="large" [class.red]="question.userVote === false"></ion-icon>
                </div>
                <div class="more-details">
                    <div class="details">
                        <ng-container *ngFor="let line of question.details.split('\n')">{{line}}<br></ng-container>
                    </div>
                    <div class="tags">
                        <div class="tag" *ngFor="let tag of question.tags">{{tag}}</div>
                    </div>
                    <div class="ask-info">
                        <div class="asked-date">asked {{question.askedDate | date: 'medium'}}</div>
                        <div class="asker">
                            <ion-icon class="avatar" name="person-circle-outline" size="large"></ion-icon>
                            <div>
                                <div class="asker-id">{{question.username}}</div>
                                <div class="badges">
                                    <div>420</div>
                                    <div class="gold-badges badge">·<span>7</span></div>
                                    <div class="silver-badges badge">·<span>7</span></div>
                                    <div class="bronze-badges badge">·<span>7</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="comments">
                        <div class="comment" *ngFor="let comment of question.comments">
                            <span class="comment-detail">{{comment.details}}</span>
                            <span> - </span>
                            <span class="commenter">{{comment.username}} </span>
                            <span class="comment-date"> {{comment.commentedDate | date: 'medium'}}</span>
                        </div>

                        <form class="comment-form" (ngSubmit)="addComment($event, 'question', question.id)">
                            <div class="inputs">
                                <div class="input">
                                    <div class="input-wrapper">
                                        <input type="text" placeholder="add a comment for this question..." name="comment">
                                        <label for="comment">press enter to comment</label>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </section>
            <hr>
            <section id="answers">
                <div class="header">Answers</div>
                <div class="answer main-info box-shadow" *ngFor="let answer of question.answers">
                    <div class="voting">
                        <ion-icon (click)="vote('answer', answer.id, true)" class="caret-icon caret-up-icon" name="caret-up-circle-outline" size="large" [class.green]="answer.userVote === true" ></ion-icon>
                        <div class="votes">{{answer.upvotes - answer.downvotes}}</div>
                        <ion-icon (click)="vote('answer', answer.id, false)" class="caret-icon caret-down-icon" name="caret-down-circle-outline" size="large" [class.red]="answer.userVote === false"></ion-icon>
                    </div>
                    <div class="more-details">
                        <div class="details">
                            <ng-container *ngFor="let line of answer.details.split('\n')">{{line}}<br></ng-container>
                        </div>
                        <div class="ask-info">
                            <div class="asked-date">answered {{answer.answeredDate | date: 'medium'}}</div>
                            <div class="asker">
                                <ion-icon class="avatar" name="person-circle-outline" size="large"></ion-icon>
                                <div>
                                    <div class="asker-id">{{answer.username}}</div>
                                    <div class="badges">
                                        <div>420</div>
                                        <div class="gold-badges badge">·<span>7</span></div>
                                        <div class="silver-badges badge">·<span>7</span></div>
                                        <div class="bronze-badges badge">·<span>7</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="comments">
                            <div class="comment" *ngFor="let comment of answer.comments">
                                <span class="comment-detail">{{comment.details}}</span>
                                <span> - </span>
                                <span class="commenter">{{comment.username}} </span>
                                <span class="comment-date"> {{comment.commentedDate | date: 'medium'}}</span>
                            </div>

                            <form class="comment-form" (ngSubmit)="addComment($event, 'answer', answer.id)">
                                <div class="inputs">
                                    <div class="input">
                                        <div class="input-wrapper" >
                                            <input type="text" placeholder="add a comment for this answer..." name="comment">
                                            <label for="">press enter to comment</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <hr>
            <section>
                <form #newAnswerForm="ngForm" (ngSubmit)="postAnswer(newAnswerForm)" id="new-answer-form">
                    <div class="header">Your Answer</div>
                    <div class="inputs">
                        <div class="input">
                            <div class="input-wrapper" [class.valid]="newAnswerForm.valid" [class.invalid]="newAnswerForm.invalid && (newAnswerForm.dirty || newAnswerForm.touched)">
                                <textarea rows="7" oninput="this.style.height; this.style.height = this.scrollHeight + 'px'" wrap="soft" type="textarea" placeholder="Write your answer here..." [(ngModel)]="newAnswerData.newAnswer" name="newAnswer" required></textarea>
                                <label for="">answer</label>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Post Answer" [class.valid]="newAnswerForm.valid" [disabled]="newAnswerForm.invalid">
                </form>
            </section>
        </div>
        <div id="related-questions">
            <div class="header">Related Questions</div>
            <div class="related-question">
                <div class="related-answers-count has-answers">5</div>
                <div class="related-link">link to related question</div>
            </div>
            <div class="related-question">
                <div class="related-answers-count has-answers">36</div>
                <div class="related-link">link to related question</div>
            </div>
            <div class="related-question">
                <div class="related-answers-count">0</div>
                <div class="related-link">link to related question</div>
            </div>
            <div class="related-question">
                <div class="related-answers-count has-answers">1</div>
                <div class="related-link">link to related question</div>
            </div>
            <div class="related-question">
                <div class="related-answers-count has-answers">5</div>
                <div class="related-link">link to related question</div>
            </div>
            <div class="related-question">
                <div class="related-answers-count has-answers">25</div>
                <div class="related-link">link to related question</div>
            </div>
            <div class="related-question">
                <div class="related-answers-count">0</div>
                <div class="related-link">link to related question</div>
            </div>
        </div>
    </main>
</ng-container>

<ng-template #Tloading>
    <div class="lds-ripple"><div></div><div></div></div>
</ng-template>