header {    
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    justify-content: space-between;
    padding: 1rem;
}

.lds-ripple {
    margin: auto
}

#q-summary {
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 650px;
}

header a {
    display: block;
}

:host {
    display: flex;
    flex: 1;
    flex-direction: column;
}

main {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

#q-meta {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#q-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#q-info {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 1rem;
    min-width: min(500px, 80svw);
}

#related-questions {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.related-question {
    align-items: center;
    display: flex;
    gap: 1rem;
}

.related-answers-count {
    background-color: var(--lighter-grey);
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    width: 3rem;
}

.related-answers-count.has-answers {
    background-color: var(--light-green);
    color: white;
}

.related-link {
    color: var(--app-blue);
    cursor: pointer;
}

.related-link:hover {
    opacity: 0.7;
}

.header {
    font-size: large;
    margin: 0.5rem;
    font-weight: bold;
}

#new-answer-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#new-answer-form .header {
    font-size: large;
    font-weight: bold;
}

#new-answer-form input[type=submit] {
    align-self: flex-end;
}

#answers {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.answer {
    margin:  1rem 0;
    border-bottom: 1px solid var(--border-grey);
    padding-bottom: 0.5rem;
}

.main-info {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.votes {
    text-align: center;
}

.tags {
    display: flex;
    gap: 1rem;
}

.tag {
    background-color: var(--light-blue);
    border-radius: 0.5rem;
    padding: 5px;
    font-size: small;
}

.more-details {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1
}

.ask-info {
    align-self: flex-end;
    background-color: var(--lighter-blue);
    font-size: small;
}

.asker {
    align-items: center;
    cursor: pointer;
    display: flex;
}

.asked-date {
    color: grey;
}

.asker-id {
    color: var(--app-blue);
    font-size: 1rem;
}

.comments {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 2rem;
}

.commenter {
    color: var(--app-blue);
}

.comment-date {
    color: grey;
    font-size: small;
}

.comment-detail {
    font-family: 'RobotoMono', sans-serif;
}

.grey {
    color: grey
}

.green {
    color: var(--light-green);
}

.red {
    color: var(--light-red);
}

/* .details-line {
    display: block;
    overflow: scroll;
} */

.accept-answer-icon {
    display: none;
    font-weight: 900;
    margin-top: 1rem;
}

.accept-answer-icon.displayed:hover {
    color: var(--light-green);
}


.accept-answer-icon.accepted {
    color: var(--light-green);
    display: block;
}

.accept-answer-icon.displayed {
    display: block;
    cursor: pointer;
}