<div class="q-meta">
    <div>{{question.upvotes - question.downvotes}} votes</div>
    <div>{{question.answersCount}} answers</div>
    <div>{{question.views}} views</div>
</div>

<div class="q-info">
    <div class="q-summary" [routerLink]="['/questions', 'q', question.id]">{{question.summary}}</div>
    <div class="q-tags">
        <span *ngFor="let tag of question.tags" class="q-tag">{{tag}}</span>
    </div>
    <div class="q-ask-info">
        <span class="q-asker">@{{question.username}} </span>
        <span class="q-asker-meta">420</span>
        <span> asked {{question.askedDate | date: 'medium'}} </span>
        <span class="actions">
            <div *ngIf="question.askedBy === authUser?.id" class="edit-btn hover-underline" [routerLink]="['/questions/update', question.id]"> edit </div>
            <div *ngIf="authUser?.role === 'admin' || question.askedBy === authUser?.id" class="delete-btn hover-underline" (click)="deleteQuestion()"> delete </div>
        </span>
    </div>
</div>