<header>
    <h1>
        Top Questions
    </h1>
    <a [routerLink]="['/questions', 'ask']" class="ask-btn">Ask Question</a>
</header>

<nav class="nav-filters">
    <div class="nav-filter" (click)="onFilter('all-time')" [class.active]="filter === 'all-time'">All Time</div>
    <div class="nav-filter" (click)="onFilter('this-week')" [class.active]="filter === 'this-week'">This Week</div>
    <div class="nav-filter" (click)="onFilter('this-month')" [class.active]="filter === 'this-month'">This Month</div>
</nav>

<main>
    <ng-container *ngIf="questions.length; else Tloading">
        <ng-container *ngIf="!error; else Terror">
            <ng-container *ngTemplateOutlet="TtopQuestions"></ng-container>
        </ng-container>
    </ng-container>
</main>

<ng-template #TtopQuestions>
    <app-question class="box-shadow" *ngFor="let question of questions" [question]="question"></app-question>
</ng-template>

<ng-template #Tloading>
    <div class="lds-ripple"><div></div><div></div></div>
</ng-template>


<ng-template #Terror>
    <p>{{error}}</p>
</ng-template>