<form id="signin-form" [formGroup]="signinForm" (ngSubmit)="onSubmit()" *ngIf="!loading; else Tloading">
    <h1>Sign In</h1>
    <P style="color:salmon" *ngIf="error">{{error}}</P>
    <div class="inputs">
        <div class="input">
            <div class="input-wrapper" [class.valid]="identifier.valid" [class.invalid]="identifier.invalid && (identifier.dirty || identifier.touched)">
                <input type="text" placeholder="username or email" formControlName="identifier">
                <label for="">user</label>
            </div>
        </div>
        
        <div class="input">
            <div class="input-wrapper" [class.valid]="password.valid" [class.invalid]="password.invalid && (password.dirty || password.touched)">
                <input type="password" placeholder="Password" formControlName="password">
                <label for="">password</label>            
            </div>
        </div>
    </div>
    <input type="submit" [class.valid]="signinForm.valid" value="sign in" [disabled]="signinForm.invalid">
    <!-- <button (click)="signAdmin()">admin</button> -->
</form>

<ng-template #Tloading>
    <div class="lds-ripple"><div></div><div></div></div>
</ng-template>