<div id="f-general-links">
    <header><div routerLink="" class="logo"><span>Jitu</span>Exchange</div></header>
    <div>
        <a routerLink="questions">Questions</a>
        <a routerLink="help">Help</a>
    </div>
</div>
<div id="f-company-info">
    <header>COMPANY</header>
    <div>
        <a routerLink="about-us">About Us</a>
        <a routerLink="privacy">Privacy Policy</a>
        <a routerLink="terms">Terms of Service</a>
    </div>
</div>
<div id="f-contact-us">
    <header>CONTACT US</header>
    <div>
        <a href="mailto:oj@joshuaondieki.com"><ion-icon name="mail-outline"></ion-icon>oj@joshuaondieki.com</a>
        <div id="f-personal-links">
            <h3>Joshua Ondieki</h3>
            <div>
                <a href="https://github.com/JoshuaOndieki"><ion-icon name="logo-github"></ion-icon>GitHub</a>
                <a href="https://linkedin.com/in/iamoj"><ion-icon name="logo-linkedin"></ion-icon>LinkedIn</a>
                <a href="https://stackoverflow.com/users/7496823"><ion-icon name="logo-stackoverflow"></ion-icon>Stack Overflow</a>
                <a href="https://medium.com/@joshuaondieki"><ion-icon name="logo-medium"></ion-icon>Medium</a>
            </div>
        </div>
    </div>
</div>