<header>
    <h1>
        All Questions
    </h1>
    <a [routerLink]="['/questions', 'ask']" class="ask-btn">Ask Question</a>
</header>

<form id="search-form" [formGroup]="searchForm" (ngSubmit)="onSearch()">
    <div class="inputs">
        <div class="input">
            <div class="input-wrapper" [class.valid]="query.valid" [class.invalid]="query.invalid && (query.dirty || query.touched)">
                <input type="search" placeholder="search questions" formControlName="query">
                <label for="">search query</label>
            </div>
        </div>
    </div>
</form>

<nav class="nav-filters pg-filters">
    <div class="filters-head">Sort by:</div>
    <div class="nav-filter pg-filter" (click)="onFilter('newest')" [class.active]="sortBy === 'newest'">Newest</div>
    <div class="nav-filter pg-filter" (click)="onFilter('oldest')" [class.active]="sortBy === 'oldest'">Oldest</div>
</nav>

<section class="pagination">
    <div class="page-btns">
        <div class="page-btn first-page-btn" (click)="changePage(1)"  [ngClass]="{'pg-active': queries.page === 1}">1 ···</div>
        <div class="page-btn" (click)="changePage(2)" [ngClass]="{'pg-active': queries.page === 2}">2</div>
        <div class="page-btn" (click)="changePage(3)" [ngClass]="{'pg-active': queries.page === 3}">3</div>
        <div class="page-btn" (click)="changePage(4)" [ngClass]="{'pg-active': queries.page === 4}">4</div>
        <div class="page-btn" (click)="changePage(5)" [ngClass]="{'pg-active': queries.page === 5}">5</div>
        <div class="page-btn" (click)="changePage(6)" [ngClass]="{'pg-active': queries.page === 6}">6</div>
        <div class="page-btn last-page-btn" (click)="changePage(50)" [ngClass]="{'pg-active': queries.page === 50}">··· 50</div>
    </div>
    <div class="page-limits">
        <div class="page-btn" (click)="changeLimit(5)" [ngClass]="{'pg-active': queries.limit === 5}">5</div>
        <div class="page-btn pg-active" (click)="changeLimit(10)" [ngClass]="{'pg-active': queries.limit === 10}">10</div>
        <div class="page-btn" (click)="changeLimit(20)" [ngClass]="{'pg-active': queries.limit === 20}">20</div>
        <div>per page</div>
    </div>
</section>

<section>
    <div>{{recordsInDB}} questions asked on this platform.</div>
    <!-- <br> -->
    <div *ngIf="queries.searchQuery">filtered with query {{queries.searchQuery}}</div>
</section>

<main>

    <ng-container *ngIf="questions.length || error; else Tloading">
        <ng-container *ngIf="!error; else Terror">
            <ng-container *ngTemplateOutlet="TAllQuestions"></ng-container>
        </ng-container>
    </ng-container>

</main>

    

<ng-template #TAllQuestions>
    <app-question class="box-shadow" *ngFor="let question of questions" [question]="question"></app-question>
</ng-template>

<ng-template #Tloading>
    <div class="lds-ripple"><div></div><div></div></div>
</ng-template>


<ng-template #Terror>
    <p>{{error}}</p>
</ng-template>